<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beetle Reporting App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <h1>Beetle Reporting App</h1>
    
    <section id="people">
        <ul id="peopleDisplay"></ul>
    </section>

    <section id="report">
        <h2>Report 4-Player Game</h2>
        <p>Note: Names are case sensitive, if ANY cannot be found, it will return an error message.</p>
        <input type="text" placeholder="Player1" name="player1" id="player1">
        <input type="text" placeholder="Player2" name="player2" id="player2">
        <input type="text" placeholder="Player3" name="player3" id="player3">
        <input type="text" placeholder="Player4" name="player4" id="player4">
        <input type="text" placeholder="Winner" name="reportedWinner" id="reportedWinner">
        <button name="reportGameButton" type="button" id="reportGameButton">Report Game Results</button>
    </section>
    <section id="reportLoad" style="display: none;">
        <div class="loadingio-spinner-spinner-0agq7qp0uhqs"><div class="ldio-odg3qveqbdb">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div></div>
    </section>
    <section id="add">
        <h2>Add/Edit Players</h2>
        <p>Note: Names are case sensitive.</p>
        <form action="/people" method="POST" id="createNew">
            <input type="text" placeholder="Name" name="name" id="newName">
            <input type="text" placeholder="Played" name="played" id="newPlayed">
            <input type="text" placeholder="Won" name="won" id="newWon">
            <button name="button" type="button" id="createNewButton">Add (New Player)</button>
            <button name="button2" type="button" id="updatePlayer">Update (Existing Player)</button>
            <button name="button3" type="button" id="deletePlayer">Delete Player</button>
        </form>
    </section>

    <script src="/js/main.js"></script>
</body>
</html>