<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width">
    <title>Beetle Reporting App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
    <body>
        <section id="container">
            <!-- <section class="H1" id="h1">
                <img src="/images/beetle.png" alt="Beetle Reporting" id="beetle">
                <h1 id="h1Text">Beetle Reporting App</h1>
           
            </section> -->
            <section id="beetleLogo">
                <img src="/images/cover.png" alt="Beetle Reporting" id="beetle">
            </section>
            
            <section class="People" id="people">
                <ul id="peopleDisplay"></ul>
                <button type="button" name="button" id="renderStandings">Save Standings</button>
                <!-- <button name="button" type="button" id="downloadStandings">Download Standings</button>
            </section> -->
            
            <div id="holding">
            <section class="Report" id="report">
                <h2>Report 4-Player Game</h2>
                <p>Note: Names are case sensitive, if ANY cannot be found, it will return an error message.</p>
                    <input type="text" placeholder="Player1" name="player1" id="player1"><br>
                    <input type="text" placeholder="Player2" name="player2" id="player2"><br>
                    <input type="text" placeholder="Player3" name="player3" id="player3"><br>
                    <input type="text" placeholder="Player4" name="player4" id="player4"><br>
                    <input type="text" placeholder="Winner" name="reportedWinner" id="reportedWinner"><br>
                    <button name="reportGameButton" type="button" id="reportGameButton">Report Game Results</button>
            </section>

            <section class="Add\/Remove" id="add">
                <h2>Add/Edit Players</h2>
                <p>Note: Names are case sensitive.</p>
                <form action="/people" method="POST" id="createNew">
                    <input type="text" placeholder="Name" name="name" id="newName"><br>
                    <input type="text" placeholder="Played" name="played" id="newPlayed"><br>
                    <input type="text" placeholder="Won" name="won" id="newWon"><br>
                    <button name="button" type="button" id="createNewButton">Add (New Player)</button> <br>
                    <button name="button2" type="button" id="updatePlayer">Update (Existing Player)</button><br>
                    <button name="button3" type="button" id="deletePlayer">Delete Player</button>
                </form>
            </section>
            </div>
            
        </section>
        <section id="canvasArea">
			<canvas id="canvas"></canvas>
		</section>
        <script src="/js/main.js"></script>
        <script src="/js/canvas.js"></script>
    </body>
</html>